**Sweety kumari**

**Topic - Python**

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
s='sweety'
type(s)

str

In [6]:
l=[1,5,'a',]
type(l)

list

In [7]:
p=3.
type(p)

float

In [8]:
g=(3,4,5,1)
type(g)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.



1.   var1 = ‘ ‘- string 
2.   var2 = ‘[ DS , ML , Python]’ - string
3.    var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] - list
4.     var4 = 1. - int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **



1.    / - This is used for division operation.
2.  %  - This gives the remainder.
3.  // - This is the floor division operator.
4.  ** - This is used for exponential power.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
l=[1,2,35,'sweety',5.6,'a','d',4,7,10]
for i in l:
  print (i)
  print(type(i))

1
<class 'int'>
2
<class 'int'>
35
<class 'int'>
sweety
<class 'str'>
5.6
<class 'float'>
a
<class 'str'>
d
<class 'str'>
4
<class 'int'>
7
<class 'int'>
10
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [22]:
A = int(input("Enter the dividend (number A): "))
B = int(input("Enter the divisor (number B): "))

count = 0  # Initialize count to keep track of divisions

while A % B == 0:
    A = A // B
    count += 1

if A == 0:
    print(f"{A} is purely divisible by {B}.")
    print(f"It can be divided {count} times.")
else:
    print(f"{A} is purely divisible by {B}.")

Enter the dividend (number A): 100
Enter the divisor (number B): 10
1 is purely divisible by 10.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
l=[1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100,200,300,400,500,600,700]
for i in l:
  if(i%3==0):
   print(i)

3
6
9
30
60
90
300
600

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

1.  **mutable**
x = 5
print(x)  # Output: 5

x = 10  # The value of x is reassigned, not modified
print(x)  # Output: 10

In the above example, the integer x is assigned the value 5. Later, we reassign the variable x to 10. Here, we are not modifying the original value 5, but creating a new object with the value 10.

2.  **immutable**



my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)  # Modifying the list by adding an element
print(my_list)  # Output: [1, 2, 3, 4]

my_list[0] = 0  # Modifying an element at a specific index
print(my_list)  # Output: [0, 2, 3, 4]

In this example, the list my_list is initially [1, 2, 3]. We modify it by appending 4 using the append() method, and then modify the element at index 0 by assigning 0 to it. In both cases, the list is modified in place without creating a new list object.